<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org" level="WARN"/>
    <logger name="com" level="WARN"/>
    <logger name="org.h2" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <!--    <logger name="org.springframework" level="TRACE"/>-->

</configuration>
